<?php
// RENOMMER CE FICHIER EN config.php et ajouter les données suivantes:

// CONNEXION A LA BASE DE DONNÉE:
$configBddNameBdd = "";
$configBddUserName = "";
$configBddPassword = "";

// CONFIGURATION DU BLOG
$configMarque = "My Blog";
$configTitreDuBlog = "Hello ;)";
$configNombreArticleParPage = 5;
$configNombreCommentaireParPage = 10;
?>